<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eRent">

    <!-- Register page tests - Chrome browser version 116 and above -->
    <test name="Register page tests - ChromeNewVersions">
        <parameter name="browser" value="CHROMENew"/>
        <parameter name="version" value="116"/>
        <classes>
            <class name="Tests.UserRegistrationTests"/>
        </classes>
    </test>

    <!-- Register page tests - Chrome browser older version -->
    <test name="Register page tests - Chrome">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="114"/>
        <classes>
            <class name="Tests.UserRegistrationTests"/>
        </classes>
    </test>

    <!--      Register page tests - Firefox browser -->
    <test name="Register account tests - Firefox">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="118"/>
        <classes>
            <class name="Tests.UserRegistrationTests"/>
        </classes>
    </test>

    <!--      Register page tests - in Edge browser -->
    <test name="Register page tests - Edge">
        <parameter name="browser" value="Edge"/>
        <parameter name="version" value="117"/>
        <classes>
            <class name="Tests.UserRegistrationTests"/>
        </classes>
    </test>
</suite>